{
  "extends": [
    "eslint:all",
    "plugin:react/all",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "es2020": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "max-len": 0,
    "require-await": 0,
    "no-extra-parens": 0,
    "brace-style": ["error", "stroustrup"],
    "array-element-newline": 0,
    "dot-location": ["error", "property"],
    "sort-keys": 0,
    "id-length": 0,
    "class-methods-use-this": 0,
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "objects": "only-multiline",
      "imports": "only-multiline",
      "exports": "only-multiline",
      "functions": "never"
    }],
    "capitalized-comments": 0,
    "no-undef-init": 0,
    "no-undefined": 0,
    "max-statements": 0,
    "multiline-ternary": ["error", "always-multiline"],
    "no-ternary": 0,
    "max-lines-per-function": 0,
    "multiline-comment-style": 0,
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }],
    "function-call-argument-newline": 0,
    "padded-blocks": 0,
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" },
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*"},
      { "blankLine": "any",    "prev": ["const", "let", "var"], "next": ["const", "let", "var"]}
    ],
    "sort-imports": 0,
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "quote-props": 0,
    "no-magic-numbers": ["error", { "ignoreArrayIndexes": true }],
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-max-depth": 0,
    "react/forbid-prop-types": 0,
    "react/function-component-definition": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-max-props-per-line": [2, { "maximum": 4 }],
    "react/no-danger": 0
  },
  "ignorePatterns": ["node_modules/", ".next/"],
  "settings": {
    "import/resolver": {
      "alias": [
          ["@/components", "./components"],
          ["@/lib", "./lib"]
      ]
    }
  }
}